#main-container{
    height: 50vh;
}

#search-div{
    padding: 1rem;
    background-color: #f1f1f1;
    border: 2px solid green;
    color: black;
    text-align: center;
}

#offers-container {
    overflow: hidden;
}

#offers-container .card{
    box-shadow: 0 16px 15px 0 rgba(0, 0, 0, 0.2);
}
