#main-container{
    height: 50vh;
}

#search-div{
    border: 1px solid #ccc;
    border-radius: 15px;
}


#offers-container .card{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

#offers-container .card img{
    width: 96%;
    object-fit: cover;
    border-radius: 1.5rem;
    margin: 0.5rem auto;
}


#services-container img { 
    height: 250px;
    object-fit: cover;
    border-radius: 2rem;
}

#services-container .reserve-div {
    margin-top: 150px;
    color: white;
    text-align: center;
}

#services-container .reserve-div .reserve-btn {
    height: 2.3rem;
    width: 7.5rem;
    background-color: rgba(128, 128, 128, 0.6);
    border: none;
    border-radius: 8px;
}

#services-container .reserve-div .reserve-btn p {
    padding: 0 0.9rem;
    margin: auto;
    font-size: 1.2rem;
    font-weight: lighter;
    color: white;
}

.service-card .card {
    border-radius: 2rem;
    position: relative;
}

.service-card .card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)); /* Lighter gradient from bottom to top */
    border-radius: 2rem;
    pointer-events: none;
}

.service-card .card .card-img-overlay {
    z-index: 1;
}

/* Switch Control */

.switch {
    position: relative;
    width: 50px;
    height: 25px;
    background-color: #848eb2;
    border-radius: 25px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

.switch-ball {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 50%;
    transition: left 0.3s ease;
    margin: auto;
}

.switch-container .switch-label {
    font-size: 16px;
}

.switch-label.left {
    margin-right: 10px;
}

.switch-label.right {
    margin-left: 10px;
}

.switch.active {
    background-color: #b3952b;
}

.switch.active .switch-ball {
    left: 27px;
}

:root {
    --color-lightblue: #828daf;
}
#location-details{
    border: 1px solid var(--color-lightblue);
    border-radius: 2.5rem 2.5rem 0 0;
    color: var(--color-lightblue);
    text-align: center;
}
#map-container{
    height: 50vh;
    border-radius: 2.5rem;
}
#map-container img{
    width:100%;
    height:100%;
    border-radius: 2.5rem 2.5rem 0 0;
}
#branches-list-container{
    margin-top: 1rem;
    padding: 1rem;
}

.branch{
    border-bottom: 1px solid var(--color-lightblue);
}

.branch:hover{
    color:  var(--color-lightblue);
    cursor: pointer;
}

#sponsors #sponsors-container img {
    width: 100%;
    height: 100%;
}

#sponsors #sponsors-container div {
    display: flex;
    margin: 1rem;
    border-radius: 1rem;
    padding: 0 1rem;
    background-color: #eff4f7;
}

#sponsors button {
    width: 2.8rem;
    height: 2.8rem;
}

.sponsor-item {
    transition: ease-in-out 0.3s;
    width: 25%;
    width: 27%;
}

#sponsors-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* Animation class for sliding */
.animate {
    animation: slide 10s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(0%);
    }
    75% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

#sponsors-container:hover .animate {
    animation-play-state: paused;
}
