#main-container{
    height: 50vh;
}

#search-div{
    border: 1px solid #ccc;
    border-radius: 15px;
    /* padding: 1rem;
    border: 2px solid green;
    color: black;
    text-align: center; */
}

#offers-container {
    overflow: hidden;
}

#offers-container .card{
    box-shadow: 0 16px 15px 0 rgba(0, 0, 0, 0.2);
}

#services-container img { 
    height: 250px;
    object-fit: cover;
}

#services-container .reserve-div {
    margin-top: 150px;
    color: white;
    text-align: center;
}

#services-container .reserve-div button {
    height: 50px;
    background-color: rgba(128, 128, 128, 0.8);
    border: none;
    border-radius: 8px;
}

#services-container .reserve-div button p {
    padding: 0 0.9rem;
    margin: auto;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
}


