nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav img{
    width: 10rem;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul li a{
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

nav ul li a:hover{
    color: #b3952b;
}

nav ul li a.active{
    background-color: #b3952b;
    color: #fff;
}

#nav-links a::after{
    display: "none";
}

#nav-links{
    margin-top: 1rem;
}


/*Browse in English*/
#change-lang-to-en:hover {
    cursor: pointer;
}
#change-lang-to-en span {
    font-size: 1.3rem; 
    color: #b3952b;
}
#change-lang-to-en:hover span {
    color: #d4b131;
}
#change-lang-to-en {
    height: 3.8rem;
    margin-left: 0.5rem;
}
.dropdown-toggle::after{
    content: none !important;
}
/* .dropdown{
    padding:20px !important;
} */