/* F3F5FC */
.resorts-card .card {
    box-shadow: 2px 11px 7px 2px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    border: white 0px solid;
    color: #838DB1 !important;
}
.resorts-card .card{
    background-color: #F3F5FC;
}
.input, .form-select, input[type='date']{
    border: none;
    background-color: #F3F5FC !important;
    border-radius: 10px;
}
 .departural-date{
   border-right: 1px solid #F3F5FC;


} 
.form-floating>label{
    color: #838DB1;
    right: 0 !important;
    left: auto !important;
    /* background-color: #F3F5FC !important; */

}
.form-floating>input{
    height: auto !important;

    /* left: auto !important; */
}
.numbersDiv{
    display: none;
    padding: 0 3px;
}
.input label,.nights,.clickable-div,.input>i{
    color: #838DB1;
}
.clickable-div{
    height: 5.5rem;
}
.resorts-card button{
    font-family: TajawalRegular;
    font-size: larger;
    letter-spacing: 2px;
}
.guests-div{
    cursor: pointer;
}

input.form-control{
    background-color: #F3F5FC !important;
    border-color: #F3F5FC !important;
}
.resorts-card .card-text{
    color: #838DB1;
}
.resorts-card .card-text>small{
    color: #B9BFD5;
}