/* F3F5FC */
.card {
    box-shadow: 2px 11px 7px 2px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    border: white 0px solid;
    color: #838DB1 !important;
}
.resorts-card .card{
    background-color: #F3F5FC;
}
.input, .form-select, input[type='date']{
    border: none;
    background-color: #F3F5FC !important;
    border-radius: 10px;
}
 .arrival-date{
   border-left: 1px solid black;

} 
.form-floating>label{
    color: #838DB1;
    right: 0 !important;
    left: auto !important;
}
.form-floating>input{
    height: auto !important;
    /* left: auto !important; */
}
.numbersDiv{
    display: none;
}
.input label,.nights,.clickable-div,.input>i{
    color: #838DB1;
}
.clickable-div{
    height: 5.5rem;
}
.resorts-card button{
    font-family: TajawalRegular;
    font-size: larger;
    letter-spacing: 2px;
}