.imgs img {
    max-width: 43%;
    object-fit: cover;
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
}

.Sliderimgs {
    overflow: hidden;
    background: white;
}

/*header*/
header {
    width: 800px;
    margin: 40px auto;
}

header h1 {
    text-align: center;
    font: 100 60px/1.5 Helvetica, Verdana, sans-serif;
}

.photobanner__wrap {
    display: flex;
    border-bottom: 1px solid #848EB2;

}

.photobanner__wrap:hover .photobanner {
    animation-play-state: paused;
}

.photobanner {
    display: flex;
    animation-name: swiperAnimation;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.photobanner img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    padding-right: 20px;
}

@keyframes swiperAnimation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.mx-lg-5 {
    margin-right: 5.5rem !important;
    margin-left: 5.5rem !important;
}


.services {
    color: #848EB2;
    font-weight: lighter;
    font-size: 100%;
    text-align: center;
    font-weight: 400;
}

.services i {

    font-size: 1.75rem;

}

.hotel-name>svg {
    color: #848EB2;
    font-weight: lighter;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
}

.hotel-name p {
    color: #848EB2;

}

.hotel-name {
    border-bottom: 1px solid #848EB2;

}

nav.sideLink {
    box-shadow: none;
}

nav.sideLink {
    box-shadow: none;
    color: #848EB2;
    font-weight: bolder;
    font-size: 1.5rem;
}

.item_active:hover,
.item_active.active {
    color: #b3952b;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #F0F0F0;
    border-radius: 25px;
    padding: 10px 20px;
    width: 100%;
    max-width: 600px;
}

.search-container input {
    border: none;
    outline: none;
    flex-grow: 1;
    background-color: transparent;
    font-size: 16px;
    color: #6F7691;
}

.search-container input::placeholder {
    color: #6F7691;
}

.search-container button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.search-container button i {
    font-size: 20px;
    color: #6F7691;
}

@media (min-width: 992px) {
    .Sliderimgs.mx-xl-5 {
        margin-right: 5.5rem !important;
        margin-left: 5.5rem !important;

    }
}



input.form-control {
    background-color: #F3F5FC !important;
    border-color: #F3F5FC !important;
}

.resorts-card .card-text {
    color: #838DB1;
}

.resorts-card .card-text>small {
    color: #B9BFD5;
}

.new-nav a {
    color: gray;
}

.new-nav a:active,
.new-nav a:hover,
a.activeSideLink {
    color: #b3952b;
    ;
}

#sliderOfCards-container {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    position: relative;
}

.slider-card {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 5px;
    box-sizing: border-box;
    box-shadow: none;
}

.slider-card .card {
    border: 1px solid white;
}

.slider-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#slider-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

#slider-controls button {
    background-color: rgba(180, 177, 177, 0.8);
    border: none;
    font-size: 24px;
    pointer-events: all;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#slider-controls button:hover {
    background-color: rgb(153, 149, 149);
}

#slider-controls button {
    user-select: none;
}

.new-nav a {
    color: gray;
}

.new-nav a:active,
.new-nav a:hover,
a.activeSideLink {
    color: #b3952b !important;
    ;
}

.accordion-button {
    color: #b3952b !important;
}

.accordion-button::after {
    margin-left: 0 !important;
    margin-right: auto !important;
    color: #b3952b !important;
}