
:root
{
  
  --gold-color:#b3952b;
}
button[type="Submit"]
{
    background-color: var(--gold-color);
    color:white; 
     width:40%;
}
        .btn:hover {
       border-color: black;
        }

      
        .newinput:focus {
  outline: none;
  border-color:var(--gold-color);
  box-shadow: 0 0 5px rgba(179,149,43,0.5);
}
  
input 
{
    margin: 1rem;
}

input::placeholder{
  color:#848EB2 !important;
}
